RewriteEngine On
RewriteBase /MTA_admin/
#RewriteBase /tutu/test_admin/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

#RewriteRule ^((?!(user|modules|login|modsmod))[^/].+)$ index.php?page=$1
#RewriteRule ^((user|modules|login|modsmod).*) index.php?page=$1

RewriteRule ^((.*).*) index.php?page=$1
RewriteRule !\.(json|js|ico|gif|jpg|jpeg|png|css|html|swf|flv|xml|eot|woff|ttf|woff2|svg)$ index.php [QSA,L]
